#navigator{
    background-color: black;
    padding: 0 0;
    height: 5rem;
    align-items: center;
    padding-top: 1%;
}
.nav-link{
    color: white !important;
    background-color: black;
}

.nav-link:hover{
    background-color: white;
    color: black !important;
    border-radius: 20px;
}
.mains{
    font-family: 'Besley',sans-serif;
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
    padding-top: 10%;
    background-image: url(images/titleimg.jpg);
    background-size: cover;
    background-attachment: fixed;
    height: 600px;
}




